<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.biz.memo.dao.MemoDao">
	
	<select id="selectAll" resultType="MemoVO">
		SELECT * FROM tbl_memo ORDER BY mo_date DESC, mo_time DESC
	</select>

	<insert id="insert" parameterType="MemoVO">
	<selectKey keyProperty="mo_seq" resultType="Long" order="BEFORE">
		SELECT ROUND(DBMS_RANDOM.VALUE(0,999999999999),0) FROM DUAL;
	</selectKey>
		INSERT INTO tbl_momo(
			mo_seq,
			mo_date,
			mo_date,
			mo_auth,
			mo_subject,
			mo_memo
		) VALUES (
			#{mo_seq},
			#{mo_date},
			#{mo_date},
			#{mo_auth},
			#{mo_subject},
			#{mo_memo}
		)
		</insert>
</mapper>